wheel
autopep8==1.5.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
entrypoints==0.3
flake8==3.7.9
idna==2.9
jeepney==0.4.3
keyring==21.2.0
mccabe==0.6.1
oauthlib==3.1.0
p2api==0.98.4
pprint==0.1
pyaml==20.4.0
pycodestyle==2.5.0
pycparser==2.20
pycurl==7.43.0.5
pyflakes==2.1.1
PyYAML==5.3.1
requests==2.23.0
SecretStorage==3.1.2
selenium==3.141.0
six==1.14.0
urllib3==1.25.9
